/* Write your code here: */
h1, h2 {
  color: blueviolet;
}

.box > p {
  color: firebrick;
}

/* we can also do the below */

div > p {
  color: firebrick;
}

.box li { /* selecting only the li elements which are children of .box class*/
  color: blue;
}

li.done {
  color: seagreen;
}

ul p.done {
  font-size: 0.5rem;
}

ul > p.done {
  font-size: 0.5rem;
}