* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


body {
  background-color: rgb(18, 24, 32);
}

.red-stripe {
  background-color: red;
  height: 3px;
}

.top-nav-bar-container {
  display: flex;
  background-color: rgb(42,45,55);
  color: white;
  height: 35px;
  align-items: center;
}

.top-nav-bar-item {
  height: 35px;
  flex-grow: 1;
  display: flex; /*required to center text in flex-item*/
  justify-content: center; /*centers text inside flex-item*/
  align-items: center;
}

.top-nav-bar-item:hover {
  background-color: red;
  transition: 0.3s;
}

.spacer {
  background-color: transparent;
}
.tanium-production {
  flex-grow: 2;
  transform: skew(-20deg);
  background-color: rgb(51,55,68);
  align-items: center;
  height: 35px;
}

.tanium-production  > p {
  transform: skew(20deg);
} 

.env-status {
  background-color: rgb(29,41,57);
  color: white;
  position: relative;
  margin: 30px 15px;
}

.env-status-flex-container {
  display: flex;
  justify-content: space-around;
}

.env-status > p {
  position: absolute;
  left: 10px;
  top: 5px;
}

.env-status-item {
  width: 50px;
  height: 70px;
  margin: 30px 10px 15px;
  flex-grow: 1;
  background-color: rgb(37,53,72);
  box-shadow: 0px 5px 3px 0px rgb(26,36,44,.8);
  border-radius: 2px;
  border: solid 1px rgb(57,73,92);
}

.env-status-item p {
  position: relative;
  left: 12px;
  top: 7px;
}

.operating-platform {
  flex-grow: 2;
}

.ask-question {
  background-color: rgb(29,41,57);
  color: white;
  position: relative;
  margin: 30px 15px;
  
}

.ask-question > p {
  position: absolute;
  left: 10px;
  top: 5px;
}

.ask-question-flex-container {
  display: flex;
  justify-content: space-around;
}

.ask-question-search-bar-item {
  width: 92%;
  height: 50px;
  flex-grow: 1;
  margin: 30px 10px 15px;
  background-color: rgb(37,53,72);
  box-shadow: 0px 5px 3px 0px rgb(26,36,44,.8);
  border-radius: 2px;
  border: solid 1px rgb(57,73,92);
  justify-content: center;
}

.ask-question-search{
  height: 25px;
  width: 95%;
  flex-grow: 1;
  background-color: rgb(12,16,23);
  border: 0;
  color: white;
}

.ask-question-search::placeholder {
  background-color: rgb(12,16,23);
  color: rgb(207, 223, 226);
}