.poster {
  background-color: black;
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  border: 2px solid white;

}

.fall-landscape {
  max-width: 80%;
  max-height: 80%;
}

p, h1{
  color: white;
  font-family: 'Libre Baskerville', serif;
  margin: 5px;
}