.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}

.pricing-plan {
  flex: 1;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(220, 220, 220);
  text-align: center;
}

.plan-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}


.plan-price {
  font-size: 48px;
  font-style: bold;
  font-weight: bold;
} 


ul {
  list-style-type: none;
}

.plan-features {
  padding: 0px;
  margin: 0px;
}

.plan-button {
  width: 75px;
  color: white;
  background-color: rgb(255, 125, 39);
  border-radius: 4px;
  border: none;
  padding: 5px;
}

@media (max-width: 1250px) {
  .pricing-container {
    flex-direction: column;
    height: 100%;
  }
}